.headerPrincipal .container{
    display: flex;/*para que sea flexible*/
    align-items: center;/*para que los elementos esten centrados*/
    justify-content: space-between;/*para que haya un espacio entre ellos entre elementos*/
}

.headerPrincipal-nav{
    display: flex;
}

/*PARA LOS CURSOS*/
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

/*para la secion del video*/
.videoSobre .container{
    display: flex;
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.videoSobre-video{
    flex-wrap: 2;
    flex-shrink: 2;/*para que se ajuste el contenido*/
}

.videoSobre-sobre-list{
    flex-wrap: 2;
}

/*PARA LE FOOTER*/
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;/*para que esten los elementos uno debajo del otro*/
    height: 250px;/*altura de las colunmas-elementos*/
    flex-wrap: wrap;/*cuando un elemento llega a los 250px se quiebra y pasa los siguentes(columna)*/ 
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    /*para que los patrocinadores esten separados del imput enviar*/
    display: flex;
    align-items: center;
    justify-content: space-around;/*espacio alrededor de los elementos*/
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;/*ocupa el espacio restante*/
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;/*para que el enviar este a la derecha*/
}

/*PARA HACER RESPONSIVA LA PAGINA*/

@media(max-width: 768px){
    .headerPrincipal .container{
        flex-direction: column;/*Para móvil debemos poner un elemento debajo del otro, es la mejor manera de ocupar todo el espacio para mejorar la usabilidad en móvil*/
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav{
        flex-direction: column;
    }

    .contenidoPrincipal-cursos{
        flex-direction: column;
    }

    .contenidoPrincipal-cursos-link{
        width: 100%;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
        flex-wrap: nowrap;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list{
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

    .headerPrincipal-nav-link-app{
        order: -1;/*para que el titulo Nuestra APP quede primero pero solo cuando sea responsivo*/
    }

    .videoSobre .container{
        flex-direction: column;
    }
}
